@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;400;800;1,100..800&display=swap');

body {
    font-family: 'Public Sans';
    font-weight: 400;
}
.header {
    display: flex;
    padding: 45px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 20px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu li a {
    padding: 10px 5px;
    margin: 20px;
    transition: 0.3 ease-in-out;
    margin-left: 15px;
    font-size: 15px;
}
.menu li a:hover{
    background-color: #5BC241;
    color: white;
}
.menu li a.cadastrese {
    background-color: #5BC241;
    border-radius: 10px;
    color: white;
    margin-left: 5px;
    padding: 10px 20px;
}


